<h1>ABOUT US</h1>

<p>Established in 1990, we are a recognised banking software expert in Europe. We are among 
    the leaders in the development and delivery of SW solutions for financial institutions.
     We are a product-focused company with a customer base across Europe, Asia and USA.</p>

     <p>In the area of Digital Banking Systems, we have been celebrating the success with innovative 
         next generation Omnichannel Digital Banking Platform – myGEMINI Digital Bank OS; in the area of Regulatory Reporting, we have built up a dominant position on the domestic market with our regulatory reporting suite, and in the area of Payments and Cards systems, we have been a long-term and
          reliable partner of banks with our Integrated Payments and Card Management products.</p>
          <div class="video">
            <h3> OUR BABK SERVISES</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/csDYqf4mm4E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

          <img  src="assets/timber-buildng-bates-smart.jpg" alt="">


          <div class="container">
            <div class="row">
            <div class="col-sm-6">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                         <h1>Vision & Misson</h1>
                         <h5 class="h5about2">Vision</h5>
                         <p class="p1"> To become the First Choice Bank in Egypt.</p>
                      </div>
                      <div class="carousel-item">
                       <h5 class=" h5about2">Mission</h5>
                       <p class="p1">To be the bank of choice for our customers, our employees, and our stakeholders

                        To become the best performing and strongest bank in Egypt</p>
                      </div>
                      <div class="carousel-item">
                        <h5 class="h5about2">Business Packages </h5>
                        <p class="p1">Business Packages (Basic - Plus)designed specially to facilitate your financial transactions, enjoy the following free products and services: Current Account - Corporate Internet Banking - 
                            Checkbooks - Debit Card In addition to special discounts on selected products and services</p>
                      </div>
                    </div>
                   <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </button>
                  </div>
            </div>
            <div class="col-sm-6">
                <img class="img2" src="assets/business-people-clients-and-bank-staff-on-workplace-bank-managers-and-vector-id1194242628.jpeg" alt="">
            </div>
            </div>
           </div>

          
