<div class="bebank">
    <h1 class=" animate__animated animate__rubberBand">Welcome To BE bank Service </h1>
    <h5>Regester now </h5>
  </div>

  <div class="two">

  <h2 class="headh2">BASIC INFORMATION</h2>
  
    <form>

        <div class="form-group">
            <label for="exampleInputPassword1">Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mobile phone</label>
          <input type="number" class="form-control" id="exampleInputPassword1">
        </div>
        
        <label for="">WHY YOU WANT YOUR ACCOUNT</label>
        
          <select class="form-control">
            <option>For the interest rate and fees </option>
            <OPTIon>For the digital offering</OPTIon>
            <option>Receiving salary</option>
            <option>To increase savings</option>
            <option>Receiving transfers</option>
            
          </select>

          <h2 class="headh2">Business Information</h2>
          <label>Occupation</label>
          <select class="form-control">
            <option>Employed</option>
            <option>Self-emplyed</option>
            <option>Pensioner</option>
           <option>Student</option>
          </select>
          <label for="">Employer</label>
          <input type="text"  class="form-control">
          <br>
          <label >Monthly income range</label>
          <select class="form-control">
            <option>From EGP1,500 to EGP5,999 </option>
            <option >From EGP6,000 to EGP29,999</option>
            <option>From EGP30,000 to EGP49,999</option>

          </select>
         
      
            <div class="form-group">
              <label for="exampleFormControlFile1">UPload you ID</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
          
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>