<div class="fdiv">

</div>
<div class="contact">
    <h1 > <i class="fas fa-map-marked"></i> CONNECT US </h1>
    <h6 >Get in touch with us however you prefer, we're here to help you</h6>

    <div class="container">
        <div class="row">
        <div class="col-sm-6">
            <h3>Connect with us</h3>
            <img src="assets/120512684-email-or-sms-email-and-incoming-messages-concept-vector.jpg" alt="">
            <p>Visit our social media pages to see our latest activity. Send us a message on Facebook messenger.</p>
        </div>
        <div class="col-sm-6">
            <h3>Contact Us - Complaint Form</h3>
            <p>Submit a complaint and a customer care representative will get back to you as soon as possible</p>
        </div>

        </div>
       </div>
</div>

<div class="contact2">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13817.300795640493!2d31.0135707!3d30.0275269!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2d871f3c2b02f918!2sAmericana%20Plaza!5e0!3m2!1sen!2seg!4v1653934440007!5m2!1sen!2seg" width="1045" height="470" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

