






<div class="container">
    <div class="row">
    <div class="col-sm-3">
        <a routerLink="/about">ABOUT US</a>
        <a routerLink="/login">LOGIN</a>
        <a routerLink="/regesteration">REGESTERATION</a>
        <a routerLink="/atmbranches">OUR BRANCHES AND ATM</a>
        <a routerLink ="/customer">CUSTOMER</a>
        <a routerLink="/home">HOME</a>
    </div>
    <div class="col-sm-3">
        <h3>Call us at 014985648998</h3>
        <h3>Ourmail BEbank99@gmail.com </h3>
    </div>
    <div class="col-sm-3">
       
    </div>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook" ></i></a>
    <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
    <a href="https://twitter.com/login">  <i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.messenger.com/"><i class="fab fa-facebook-messenger"></i></a>
    
  
    
    
    </div>
   </div>