<div class="bebank">
  <h1 class=" animate__animated animate__rubberBand"> <i class="fas fa-user"></i> BECOME A CUSTOMER</h1>
  <h5>  become A BE customer bank</h5>
</div>

<div class="two">
  <h3 class="headh3">Ma'ak Online</h3>
  <h4 class="headh4">Your bank is just a click away</h4>
  <h5 class="headh5">Opening a bank account will never be easier, just a click and you will open your own bank account.</h5>
  <h5 class="headh5">Digital Banking has completely changed the way we bank today.</h5>
  <h5 class="headh5">Now you will perform any banking transactions easier, faster and in a convenient way.</h5>
  <h3 class="headh3">Subscribe online to enjoy:</h3>
  <h4 class="headh4">Higher interest rate on your savings</h4>
  <h5 class="headh5">
    E-savings account in EGP with special interest rate
</h5>

</div>










<h3 class="headh3">HOW TO APPLY ???????</h3>

<div class="container">
  <div class="row">
  <div class="col-sm-4">
       <a routerLink="/regesteration"> <i class="fas fa-registered"></i> REGISTERATION PAGE</a>   
  </div>
  <div class="col-sm-4">
    <a routerLink="/about"> <i class="fas fa-info"></i> KNOW ABOUT US</a>   
  </div>
  <div class="col-sm-4">
    <a routerLink="/contactus"> <i class="fas fa-globe-americas"></i> CONNECT US</a>  
  </div>
  </div>
 </div>
<ul class="list-group">
    <li class="list-group-item active" aria-current="true">Our Valued Customer, Important information about your data:


    </li>
    <li class="list-group-item">Beware of using public or shared computers (like those in internet cafes or public libraries or or social clubs) </li>
    <li class="list-group-item">Make sure you are on the official Banque Misr website. You can verify that by clicking on the padlock or key symbol at the bottom of your browser to check the security certificate.</li>
    <li class="list-group-item">    Please make sure the devices you use have been setup properly with the necessary antivirus and anti-malware programs and tools. Update them regularly to avoid hacking.


    </li>

  </ul>


